.containerPlatform {
  width: 70%;
  margin: 70px auto;
  .platform {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto;
    font-family: Montserrat, sans-serif;
    gap: 100px;
    .image {
      width: 350px;
      img {
        width: 100%;
      }
    }
    .text {
      h1 {
      }
      p {
        color: gray;
        margin: 25px 0;
      }
      button {
        cursor: pointer;
        color: white;
        border: none;
        border-radius: 8px;
        padding: 10px 20px;
        background: linear-gradient(90deg, #39cfca 0%, #3279bb 100%);
      }
    }
  }
}
